<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <title><%=title%></title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%=title%></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/myaccount">My Account<span class="sr-only">(current)</span></a></li>
        <li><a href="/hotels">hotels</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form id="signin" class="navbar-form navbar-right">
        <div class="form-group">
          <input name="email" id="loginemail" type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input name="password" id="loginpassword" type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      <a role="button" class="btn btn-info" data-target="#registrationModal" data-toggle="modal">Register</a>
      </form>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1><%=title%></h1>
    <p>
      Thanks for choosing us!
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>dummy hotel</h2>
      <p>Some information</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>dummy hotel</h2>
      <p>Some information </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>dummy hotel</h2>
      <p>Some information </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <hr>

  <footer>
    <p>&copy; Matt Platoff, Mohit Mori, Jonah Wasserman, Stephan Quickel</p>
  </footer>

  <!--modal-->
  <div id="registrationModal" tabindex="-1" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 id="myModalLabel">New Customer Registration </h3>
    </div>
        <form id="registrationForm">
        <div class="modal-body">
      <h4>Fill out form to register new customer account</h4>
      <div class="form-group">
      <input type="text" name="name" id="name" placeholder="Name" class="form-control">
      </div>
      <div class="form-group">
      <input type="text" name="address" id="address" placeholder="Address" class="form-control">
      </div>
      <div class="form-group">
      <input type="text" name="email" id="email" placeholder="Email" class="form-control">
      </div>
      <div class="form-group">
      <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control">
      </div>
      <div class="form-group">
      <input type="password" name="password" id="password" placeholder="Password" class="form-control">
      </div>
      <div class="form-group">
      <input type="password" id="confpassword" placeholder="Confirm password" class="form-control">
      </div>
      </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" onclick="document.querySelector('#registrationForm').reset()" aria-hidden="true">Close</button>
      <button type="sumbit" class="btn btn-primary" form="registrationForm">Submit</button>
    </div>
        </form>
      </div>

    </div>
  </div>
</div> <!-- /container -->



<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
