<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <title><%=title%></title>
</head>
<body style="padding-top: 70px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">My Account Details:</li>
                <li class="list-group-item"><span class="badge">New</span>Name:</li>
                <li class="list-group-item"><span class="badge">New</span>Email</li>
                <li class="list-group-item"><span class="badge">New</span>Address</li>
                <li class="list-group-item"><span class="badge">New</span>Phone Number</li>
            </ul>
        </div>

        <div class="col-md-8">
            <div class="list-group"><a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Room Reservations:</h4>
                </a>

                <a href="#" class="list-group-item">
                    <ul class="list-group">
                        <li class="list-group-item active">Room [Room_no] | [Room Type] - Floor X</li>
                        <li class="list-group-item ">For up to [capacity] residents</li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                [Description]
                            </ul>
                        </li>
                        <li class="list-group-item ">Price: [price]</li>
                        <li class="list-group-item"> <h4>Reviews</h4>
                            <ul>
                                <li>Worst room I ever stayed at. Bed had bugs!!!</li>
                                <li>Loved it! Great view and staff.</li>
                            </ul>
                        </li>

                    </ul>
                </a>

                <a class="list-group-item">
                    <ul class="list-group">
                        <li class="list-group-item active">Room [Room_no] | [Room Type] - Floor X</li>
                        <li class="list-group-item ">For up to [capacity] residents</li>
                        <li class="list-group-item">
                            <ul class="list-group">
                                [Description]
                            </ul>
                        </li>
                        <li class="list-group-item ">Price: [price]</li>
                        <li class="list-group-item"> <h4>Reviews</h4>
                            <ul>
                                <li>Worst room I ever stayed at. Bed had bugs!!!</li>
                                <li>Loved it! Great view and staff.</li>
                            </ul>
                        </li>

                    </ul>
                </a>

            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/" data_temp_dwid="1">Hulton Hotel Management</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/myaccount">My Account<span class="sr-only">(current)</span></a></li>
                <li><a href="/hotels">Hotels</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li></li>
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/javascripts/myaccount.js"></script>
</body>
</html>